.btn {
    --btn-color: rgb(124 45 18);
    --btn-bg: rgb(255, 99, 71, 0.5);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 14px 22px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    font-family: system-ui;
    border: 2px solid var(--btn-color);
    transition: 100ms ease;
    box-shadow: 5px 5px 0 0 var(--btn-color);
}

.btn--secondary {
    --btn-color: #444;
    --btn-bg: #fafafa;
}

.btn svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.btn:hover {
    box-shadow: 2px 2px 0 0 var(--btn-color);
}

.btn:active {
    transition: 50ms ease;
    box-shadow: 0 0 0 0 var(--btn-color);
}

.btn:focus-visible {
    outline: 0;
    --btn-color: #002cc8;
}

.btn:focus-visible::after {
    position: absolute;
    left: 50%;
    top: calc(100% + 12px);
    transform: translateX(-50%);
    content: "⬆";
    animation: float 0.5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateX(-50%) translateY(0px);
    }
    50% {
        transform: translateX(-50%) translateY(-6px);
    }
    100% {
        transform: translateX(-50%) translateY(0px);
    }
}

.containerbtn {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
